body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: grey;}
  
  .video-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
   
  }
  
  video {
    width: 45%;
    max-width: 400px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  